doctype html
html(lang-"en")
	head
		title= title
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.css")
		link(rel="stylesheet", href="style.css")
		
		script(src="//code.jquery.com/jquery-2.2.3.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		script(src="main.js")
body
	div.containter-fluid
	block content